.textAlign{
	line-height: 25px;
}

.slds-card {
	border: var(--slds-c-card-sizing-border,var(--sds-c-card-sizing-border,1px)) solid var(--slds-c-card-color-border,var(--sds-c-card-color-border,#c9c9c9));
    border-radius: var(--slds-c-card-radius-border,var(--sds-c-card-radius-border,.25rem));
}

.eventset{
	padding-top: 30px;
	padding-left: 28px;
}